<div id="reset_pass_form" class="modal hide fade" role="dialog" aria-labelledby="resetPassModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>